* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}
.App {
  display: flex;
  width: 100%;
  height: 100px;
  padding: 0 20px;
  justify-content: space-between;
  background-color: white;
  box-shadow: 0 1px 7px #383277;
}
.logo {
  padding: 15px 0;
  width: 80px;
  height: 100px;
}
img {
  width: 100%;
  height: 100%;
}
a {
  text-decoration: none;
  color: black;
}
a:hover {
  color: #ff7235;
}
li {
  font-size: 20px;
  line-height: 40px;
  margin: 0 2px;
}
@media (max-width: 380px) {
  .logo {
    font-size: 16px;
  }
}

.hamburger {
  width: 2rem;
  height: 2rem;
  display: flex;
  justify-content: space-around;
  flex-flow: column nowrap;
  z-index: 10;
  position: fixed;
  top: 25px;
  right: 20px;
}
.hamburger {
  display: none;
}

@media (max-width: 768px) {
  .hamburger {
    display: flex;
    cursor: pointer;
  }
}

.burger {
  width: 2rem;
  height: 0.25rem;
  border-radius: 10px;
  background-color: black;
  transform-origin: 1px;
  transition-duration: 0.3s;
  transition-timing-function: linear;
}

.open .burger {
  width: 2rem;
  height: 0.25rem;
  color: '#ccc';
  border-radius: 10px;
  transform-origin: 1px;
  transition-duration: 0.3s;
  transition-timing-function: linear;
  cursor: pointer;
}

.active .burger1 {
  transform: rotate(45deg);
}
.active .burger2 {
  transform: translateX(100%);
  opacity: 0;
}
.active .burger3 {
  transform: rotate(-45deg);
}

ul {
  list-style: none;
  display: flex;
  flex-flow: row nowrap;
}

li {
  padding: 18px 18px;
  font-size: 20px;
}
@media (max-width: 768px) {
  ul {
    display: none;
  }
  .active ul {
    display: flex;
  }
  .hamLink {
    position: fixed;
    flex-flow: column nowrap;
    background: cyan;
    transform: translateX(0);
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    padding-top: 3.5rem;
    padding-left: 6rem;
  }

  .hamLink a {
    color: black;
  }
}
